.dropDown {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    margin-right: var(--space-xxs);

    position: relative;

    cursor: pointer;
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 16px;
        width: 16px;
        left: 100%;
        margin-left: var(--space-xxs);
        transition: transform 0.22s linear;
        background-image: url('../../assets/expand_arrow_down.svg');
        background-repeat: no-repeat;
        background-position: center;
    }

    &__label {
        font-weight: 500;
        margin-right: 4px;
    }

    &__select {
        display: none;

        ul {
            padding: 0;
            margin: 0;

            li {
                list-style: none;
            }
        }
    }

    &_expanded {
        &::after {
            transform: rotate(180deg);
        }

        .dropDown__select {
            display: block;
        }
    }
}

.select {
    min-width: 266px;
    max-height: 260px;
    padding: 14px 22px 18px;
    box-sizing: border-box;
    position: absolute;
    top: calc(100% + 18px);

    overflow-y: scroll;
    z-index: 2;

    font-size: var(--font-size-s);
    line-height: var(--line-height-s);

    background-color: var(--white);
    box-shadow: 0 4px 16px rgba(53, 73, 93, 0.2);

    &__item {
        height: 20px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow-x: hidden;

        & + & {
            margin-top: var(--space-m);
        }

        &:hover {
            color: var(--inactive-text);
        }
    }

    &::-webkit-scrollbar {
        display: none;
    }
}


@media (max-width: 960px) {
    .dropDown {
        display: block;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 182px;

        &_expanded {
            &::before {
                content: '';
                display: block;
                position: fixed;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;

                background-color: rgba(0, 0, 0, 0.5);
            }
        }
    }
}
