.row {
    display: flex;
    height: 48px;
    border-bottom: 1px var(--separator) solid;

    &_justify_space-between {
        justify-content: space-between;
    }

    &_relative {
        position: relative;
    }
}

@media (max-width: 960px) {
    .row {
        flex-wrap: wrap;
        height: auto;
    }
}
