@import url('https://fonts.googleapis.com/css?family=PT+Mono&display=swap&subset=cyrillic');

@import './color.css';
@import './space.css';
@import './font.css';
@import './text.css';
@import './variables.css';
@import './stub.css';

html {
    font-family: "YS Text", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: var(--text);
    font-size: var(--font-size-s);
    line-height: var(--line-height-s);
}

main {
    padding: 0 var(--space-xxl);
    min-height: calc(100vh - var(--footer-height) - var(--header-height-desktop));
}

code, pre {
    padding: 0 !important;
    font-family: 'PT Mono', monospace;
    background-color: transparent !important;
}

@media (max-width: 960px) {
    main {
        padding: 0 var(--space-m);
        overflow-x: hidden;
    }
}

h2 {
    margin: 0;
    font-size: var(--font-size-xl);
    line-height: var(--line-height-xl);
}

